@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');
* {
    font-family: Open Sans;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Home page */

nav {
    background-color: #FFFFFF;
    overflow: hidden;
    text-align: right;
}

nav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 35px;
    text-decoration: none;
    transition: border-bottom 0.3s;
    margin-top: 22px;
}

nav a::after {
    content: '';
    width: 0;
    height: 3px;
    background: black;
    left: 0;
    bottom: 2px;
    display: block;
    margin-top: 7px;
    transition: 0.5s;
}

nav a:hover::after {
    width: 100%;
}

.logo {
    float: left;
    padding: 10px;
}

.logo img {
    width: 100px;
    height: auto;
}

.main-section {
    position: relative;
    /* height: 900px; */
    overflow: hidden;
    text-align: center;
    z-index: 1;
    transition: margin-top 0.5s ease;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    z-index: 1;
    background-color: rgba(233, 233, 233, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(203, 203, 203, 0.5);
    font-size: 1.5em;
}

.text-content h1 {
    font-size: 1.8em;
}

.text-content p {
    font-size: 1em;
}

.social-icons {
    position: absolute;
    top: auto;
    bottom: 20px;
    right: 20px;
    transform: translateY(0);
    display: flex;
    flex-direction: column;
}

.icon-link {
    margin-bottom: 10px;
}

.icon-link img {
    width: 25px;
    height: auto;
}

.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    padding-top: 50px;
    z-index: 2;
    transition: top 0.1s ease;
    padding-bottom: 50px;
}

.about-content {
    flex: 1;
    padding-right: 20px;
    opacity: 0;
    transform: translateX(-70px);
    /* Start from the left (adjust the value as needed) */
    transition: opacity 1s ease, transform 1s ease;
    /* Increase the duration to 1s for a slower appearance */
}

.about-content.visible {
    opacity: 1;
    transform: translateX(0);
    /* Move to the original position (0) */
}

.about-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-content p {
    font-size: 20px;
    line-height: 1.6;
    color: #666;
}
/* .line-header {
    height: 1px; 
    background-color: black; 
    border: none;
  } */
  
  /* Additional styling to make it bolder */
  .line-header:after {
    content: "";
    display: block;
    height: 4px; /* adjust thickness */
    background-color: black; /* color */
  }

  .line-sections {
    height: 2px; /* adjust thickness */
    background-color: black; /* color */
    border: none;
    width: 60%; /* adjust width */
    margin: 0 auto; /* center the hr */
  }
  
  

.about-image {
    opacity: 0;
    transform: translateX(70px);
    /* Start from the right (adjust the value as needed) */
    transition: opacity 1s ease, transform 1s ease;
    /* Increase the duration to 1s for a slower appearance */
    flex: 1;
}

.about-image.visible {
    opacity: 1;
    transform: translateX(0);
    /* Move to the original position (0) */
}

.about-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;

}

.about-button {
    background-color: #6c998f;
    margin: 20px auto;
    color: #0e0d0d;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.about-button:hover {
    background: rgb(164, 211, 227);
    transition: 1.5s;
    font-size: 17px;
}

/* Footer */

.footer-distributed {
    width: 100%;
    display: inline-block;
    background: #404A63;
    height: 48vh;
    text-align: left;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;

    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 5%;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}

/* The company logo */

.footer-distributed h3 {
    color: white;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: rgb(36, 158, 152);
}

/* Footer links */

.footer-distributed .footer-links {
    color: white;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: white;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #2289c9;
    color: white;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: white;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: rgb(30, 156, 148);
    text-decoration: none;
    ;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: white;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: white;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    /* background-color:  #33383b; */
    border-radius: 2px;

    font-size: 20px;
    color: black;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}

@media screen and (max-width: 600px) {
    nav {
        text-align: left;
    }

    nav a {
        display: block;
        text-align: left;
        width: 100%;
        box-sizing: border-box;
    }

    .logo {
        float: none;
        text-align: left;
        width: 100%;
        box-sizing: border-box;
    }


    .text-content {
        font-size: 1.2em;
    }

    .text-content h1 {
        font-size: 1.5em;
    }

    .text-content p {
        font-size: 0.8em;
    }

    .social-icons {
        position: absolute;
        bottom: 10px;
        /* Adjust this value to move the icons higher */
        right: 20px;
        transform: translateY(0);
        display: flex;
        flex-direction: column;
    }

    .icon-link img {
        width: 20px;
    }

    .about-section {
        padding: 30px;
        flex-direction: column;
    }

    .about-content {
        padding-right: 0;
    }

    .about-content h2 {
        font-size: 18px;
    }

    .about-content p {
        font-size: 16px;
    }

    .about-image img {
        border-radius: 0;
    }

    .about-button {
        margin: 10px auto;
        font-size: 14px;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center; /* Center align text */
    /* background-color: beige; */
}
  
  .image-gallery {
    display: flex;
    flex-wrap: wrap; /* Allow images to wrap to the next line if necessary */
    justify-content: center; /* Center align images horizontally */
    gap: 10px;
  }
  
  .cta-button {
    display: inline-block;
    padding: 15px 30px; /* Increase padding for larger button */
    background-color: #6c998f;
    color: black;
    text-decoration: none;
    border-radius: 30px; /* Make button more rounded */
    margin-top: 40px; /* Add space between images and button */
    transition: background-color 0.3s ease;
    font-size: 15px; /* Increase font size */
    font-weight: bold; /* Add bold font weight */
    letter-spacing: 1px; /* Add spacing between letters */
  }
  
  .cta-button:hover {
    background-color: rgb(164, 211, 227);
  }
  
  .help-section h2 {
    font-size: 36px; /* Increase heading font size */
    font-weight: bold; /* Add bold font weight */
    margin-bottom: 20px; /* Add space below heading */
  }
  
  .help-section p {
    font-size: 20px; /* Increase paragraph font size */
    line-height: 1.6; /* Add spacing between lines */
    margin-bottom: 40px; /* Add space below paragraph */
  }
  
  
  .image-gallery img {
    max-width: 30%;
    gap: 100px;
    height: auto;
    transition: transform 0.3s;
  }
  
  .image-gallery img:hover {
    transform: scale(1.1);
  }
  
  /* Modal Styles */
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
  }
  
  .modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
  }
  
  .close {
    color: #fff;
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
  }
	/* About page */

	
         .footer-distributed-about {
            width: 100%;
            display: inline-block;
            background: #404A63;
            height: 48vh;
            text-align: left;
            font-size: 22px;
            font-weight: 700;
            text-decoration: underline;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
            box-sizing: border-box;
        
            font: bold 16px sans-serif;
            padding: 55px 50px;
           margin: 0%;
            
          
            
        }
        
        .footer-distributed-about .footer-left-about,
        .footer-distributed-about .footer-center-about,
        .footer-distributed-about .footer-right-about {
            display: inline-block;
            vertical-align: top;
        }
        
 
        
        .footer-distributed-about .footer-left-about {
            width: 40%;
        }
        

        
        .footer-distributed-about h3 {
            color: white;
            font: normal 36px 'Open Sans', cursive;
            margin: 0;
        }
        
        .footer-distributed-about h3 span {
            color: rgb(36, 158, 152);
        }
        
     
        
        .footer-distributed-about .footer-links-about {
            color: white;
            margin: 20px 0 12px;
            padding: 0;
        }
        
        .footer-distributed-about .footer-links-about a {
            display: inline-block;
            line-height: 1.8;
            font-weight: 400;
            text-decoration: none;
            color: inherit;
        }
        
        .footer-distributed-about .footer-company-name-about {
            color: white;
            font-size: 14px;
            font-weight: normal;
            margin: 0;
        }
        
      
        
        .footer-distributed-about .footer-center-about {
            width: 35%;
        }
        
        .footer-distributed-about .footer-center-about i {
            background-color: #2289c9;
            color: white;
            font-size: 25px;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            text-align: center;
            line-height: 42px;
            margin: 10px 15px;
            vertical-align: middle;
        }
        
        .footer-distributed-about .footer-center-about i.fa-envelope {
            font-size: 17px;
            line-height: 38px;
        }
        
        .footer-distributed-about .footer-center-about p {
            display: inline-block;
            color: white;
            font-weight: 400;
            vertical-align: middle;
            margin: 0;
        }
        
        .footer-distributed-about .footer-center-about p span {
            display: block;
            font-weight: normal;
            font-size: 14px;
            line-height: 2;
        }
        
        .footer-distributed-about .footer-center-about p a {
            color: rgb(30, 156, 148);
            text-decoration: none;
            ;
        }
        
        .footer-distributed-about .footer-links-about a:before {
            content: "|";
            font-weight: 300;
            font-size: 20px;
            left: 0;
            color: white;
            display: inline-block;
            padding-right: 5px;
        }
        
        .footer-distributed-about .footer-links-about .link-1:before {
            content: none;
        }
        
  
        
        .footer-distributed-about .footer-right-about {
            width: 20%;
        }
        
        .footer-distributed-about .footer-company-about-about {
            line-height: 20px;
            color: white;
            font-size: 13px;
            font-weight: normal;
            margin: 0;
        }
        
        .footer-distributed-about .footer-company-about span {
            display: block;
            color: white;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        
        .footer-distributed-about .footer-icons-about {
            margin-top: 25px;
        }
        
        .footer-distributed-about .footer-icons-about a {
            display: inline-block;
            width: 40px;
            height: 40px;
            cursor: pointer;
            
            border-radius: 2px;
        
            font-size: 20px;
            color: black;
            text-align: center;
            line-height: 35px;
        
            margin-right: 3px;
            margin-bottom: 5px;
        }
        
        
        @media (max-width: 880px) {
        
            .footer-distributed-about {
                font: bold 14px sans-serif;
            }
        
            .footer-distributed-about .footer-left-about,
            .footer-distributed-about .footer-center-about,
            .footer-distributed-about .footer-right-about {
                display: block;
                width: 100%;
                margin-bottom: 40px;
                text-align: center;
            }
        
            .footer-distributed-about .footer-center-about i {
                margin-left: 0;
            }
        }
        
        @media screen and (max-width: 600px) {
            nav {
                text-align: left;
            }
        
            nav a {
                display: block;
                text-align: left;
                width: 100%;
                box-sizing: border-box;
            }
        
            .logo {
                float: none;
                text-align: left;
                width: 100%;
                box-sizing: border-box;
            }
        
        
            .text-content {
                font-size: 1.2em;
            }
        
            .text-content h1 {
                font-size: 1.5em;
            }
        
            .text-content p {
                font-size: 0.8em;
            }
        
            .social-icons {
                position: absolute;
                bottom: 10px;
                right: 20px;
                transform: translateY(0);
                display: flex;
                flex-direction: column;
            }
        
            .icon-link img {
                width: 20px;
            }
        
            .about-section-about {
                padding: 30px;
                flex-direction: column;
            }
        
            .about-content-about {
                padding-right: 0;
            }
        
            .about-content-about h2 {
                font-size: 18px;
            }
        
            .about-content-about p {
                font-size: 16px;
            }
        
            .about-image-about img {
                border-radius: 0;
            }
        
            .about-button-about {
                margin: 10px auto;
                font-size: 14px;
            }
        }
 

        .about-section-about {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 50px;
            background-color: white;
            border-radius: 10px;
            position: relative;
            padding-top: 50px;
            z-index: 2;
            /* transition: top 0.1s ease; */
            padding-bottom: 50px;
        }
        
        .about-content-about {
            flex: 1;
            padding-right: 20px;
            /* opacity: 0; */
            /* transform: translateX(-70px); */
            /* Start from the left (adjust the value as needed) */
            /* transition: opacity 1s ease, transform 1s ease; */
            /* Increase the duration to 1s for a slower appearance */
        }
        
        /* .about-content-about.visible { */
            /* opacity: 1; */
            /* transform: translateX(0); */
            /* Move to the original position (0) */
        /* } */
        
        .about-content-about h2 {
            font-size: 24px;
            margin-bottom: 10px;
        }
        
        .about-content-about p {
            font-size: 20px;
            line-height: 1.6;
            color: #666;
        }
        
         .about-image-about { 
            flex: 1;
         } 
        
        /* .about-image-about.visible {
            opacity: 1;
            transform: translateX(0);
            
        } */
        
        .about-image-about img {
            width: 100%;
            height: auto;
            border-radius: 8px;
        
        }
        
        .about-button-about {
            background-color: #6c998f;
            margin: 20px auto;
            color: #0e0d0d;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }
        
        .about-button-about:hover {
            background: rgb(164, 211, 227);
            transition: 1.5s;
            font-size: 17px;
        }


        /* ----------------FAQ--------------- */

